@model SuperHeroesNew.Models.SuperHero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuperHero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round_1_B1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round_1_B1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round_1_B2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round_1_B2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round_2_B1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round_2_B1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round_2_B2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round_2_B2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round_3_B1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round_3_B1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
